@using Microsoft.AspNetCore.Identity;
@using Animerch.Data;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "My Profile";
}
<h1 class="h1">Your Profile</h1>

<ul>
    <li><a asp-controller="Userpage" asp-action="Merchandise">Your Merchandise</a></li>
    <li><a asp-controller="Userpage" asp-action="Friends">Your Friends</a></li>
</ul>


@*
    Oversigt over seneste aktivitet
    Link til liste af merchandise
    Link til venner(?)
*@